*{
    margin: 0;
    padding: 0;
}

body{
    height: 300vh;
}

.dropdown{
    margin-top: 5px;
}

.wpp{
    margin-top: 5px;
}

.dropdown:hover {
    color: white;
}

.nav-item svg{
    margin-left: 2px;
    margin-bottom: 3px;
    color: rgb(22, 181, 22);
}

.logo{
    height: 60px;
}

#deliciosos{
    background-color: #03989e;
}

#especiais{
    background-color: #cf3a3a;
}

.card img {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.card:hover img{
    /* Defina a opacidade quando o mouse passa sobre a imagem */
    opacity: 0.8;
}

.cestas{
    margin-top: 5px;
}

body {
    /* Adjust this to set the scroll position at which the button should appear */
    --scroll-to-show-button: 50vh;
}
